body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e3440; /* gri închis pentru fundal */
    color: #d8dee9; /* alb griu pentru text principal */
}

nav {
    background-color: #3b4252; /* gri închis pentru bara de navigare */
    color: #d8dee9;
    padding: 20px 0; /* padding mai generos pentru spațiu în bara de navigare */
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px; /* dimensiune mai mare pentru titlul principal */
}

main {
    padding: 20px;
}

.container {
    text-align: center;
}

input[type="number"], button {
    display: block;
    margin: 10px auto;
    padding: 12px 20px;
    border: none;
    border-radius: 5px; /* margini rotunjite pentru input-uri și butoane */
    font-size: 16px;
}

button {
    background-color: #5e81ac; /* albastru deschis pentru butoane */
    color: #eceff4; /* alb-griu pentru textul butoanelor */
    cursor: pointer;
    transition: background-color 0.3s ease; /* efect de tranziție la hover */
}

button:hover {
    background-color: #81a1c1; /* nuanță mai închisă de albastru la hover */
}

.error {
    color: #bf616a; /* roșu deschis pentru mesajele de eroare */
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #4c566a; /* gri pentru marginile celulelor */
}

th {
    background-color: #4c566a; /* gri închis pentru fundalul antetului tabelului */
    color: #d8dee9; /* alb griu pentru textul antetului tabelului */
}

footer {
    background-color: #3b4252; /* gri închis pentru footer */
    color: #d8dee9;
    padding: 20px 0; /* spațiu generos în footer */
    text-align: center;
}

/* Reguli pentru design responsiv */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
    input[type="number"], button {
        display: block;
        margin: 10px auto;
    }
    table {
        font-size: 14px;
    }
}